/*
PRIMARY
#546e7a
#819ca9 - light
#29434e - dark
#ffffff - font

SECONDARY
#ffe0b2
#ffffe4 - light
#cbae82 - dark 
#000000 - text
*/
* {
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #819ca9;
    padding-bottom: 40px;
}

svg {
    width: 100px;
    height: 60px;
}

.container {
    margin: 0 auto;
    width: 95%;
    position: relative;
}

.navigation {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
}

input[type=radio] {
    display: none;
}

label, .nav_buttons {
    padding: 5px;
    border: 2px solid #ffe0b2;
    border-radius: 4px;
    box-shadow: #29434e 0px 10px 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #819ca9;
}

.nav_buttons:disabled {
    background-color: #648491;
}

label:hover, button:hover, .controls button:hover {
    cursor: pointer;
    box-shadow: #778c96 0px 10px 30px;
    transition: 0.3s;
}

.customization {
    margin-top: 20px;
    width: 25%;
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
    grid-gap: 10px;
}

.customization *, .controls button {
    border: none;
    border-radius: 5px;
    box-shadow: #29434e 0px 10px 30px;
}

.controls {
    margin-top: 20px;
    display: grid;
    width: 25%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25px;
    gap: 10px;
}

.car .controls {
    margin-top: 0;
    grid-template-columns: 1fr 1fr 2fr;
}

.controls h3 {
    margin: 0;
}

.path {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.path button {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 6px;
    font-weight: 600;
}

hr {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#start {
    background-color: greenyellow;
}

#stop {
    background-color: red;
}

.finish_flag {
    margin-left: auto;
}

.notification {
    position: absolute;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: append-animate .5s linear;
}

.notification p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(rgb(212, 59, 59), rgb(65, 93, 183));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.05em;
    font-style: italic;
    font-size: 50px;
}

.notification span {
    font-weight: 800;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.winners {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #819ca9;
    margin-top: 20px;
}

.display {
    display: none !important;
}

table {
    border-spacing: 0;
}

thead {
    background-color: rgb(95, 95, 236);
    font-weight: 600;
    font-style: normal;
    padding: 5px;
}

tbody th {
    font-weight: normal !important;
}

thead th {
    padding: 10px 30px 10px 30px;
}

table {
    border: 3px solid white;
    border-radius: 5px;
}

table svg {
    width: 100px;
}

#winner_id:hover, #winner_wins:hover, #winner_time:hover{
    cursor: pointer;
}